Repository dstotijn/blippy: changes, and which lefthook commands are due for each by the changed paths.
All: go-vet, go-fmt, web-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-vet:
      glob: "*.go"
      run: go vet ./...
    go-fmt:
      glob: "*.go"
      run: test -z "$(gofmt -l .)"
    web-check:
      glob: "web/**/*.{ts,tsx,js,jsx}"
      run: mise run web:check

Embed web UI into Go binary
  AGENTS.md
  cmd/blippy/main.go
  internal/server/server.go
  mise.toml
  web/handler.go
Due: go-vet, go-fmt

Use relative baseUrl for Connect transport
  web/src/lib/api.ts
Due: web-check

Mount ConnectRPC handlers under /api prefix
  internal/server/server.go
  web/src/lib/api.ts
Due: go-vet, go-fmt, web-check

Fix crypto.randomUUID error in non-secure contexts
  web/src/routes/agents/$agentId/$conversationId.tsx
Due: web-check

Add per-agent model selection
  cmd/blippy/main.go
  internal/agent/agent.connect.go
  internal/agent/agent.pb.go
  internal/agent/service.go
  internal/conversation/service.go
  internal/openrouter/client.go
  internal/runner/adapter.go
  internal/runner/runner.go
  internal/scheduler/scheduler.go
  internal/scheduler/trigger_service.go
  internal/store/migrations/007_agent_model.sql
  internal/store/models.go
  internal/store/queries.sql
  internal/store/queries.sql.go
  internal/tool/call_agent.go
  internal/tool/schedule.go
  proto/agent/agent.proto
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/ui/command.tsx
  web/src/components/ui/dialog.tsx
  web/src/components/ui/popover.tsx
  web/src/lib/api.ts
  web/src/lib/rpc/agent/agent-AgentService_connectquery.ts
  web/src/lib/rpc/agent/agent_pb.ts
  web/src/routes/agents/$agentId/settings.tsx
  web/src/routes/agents/new.tsx
Due: go-vet, go-fmt, web-check

Make call_agent agent_id optional and fix notification tool name encoding
  internal/conversation/service.go
  internal/runner/runner.go
  internal/tool/call_agent.go
  internal/tool/executor.go
Due: go-vet, go-fmt

Add optional title parameter to call_agent and schedule_agent_run
  internal/runner/adapter.go
  internal/runner/runner.go
  internal/scheduler/scheduler.go
  internal/scheduler/trigger_service.go
  internal/store/migrations/008_trigger_conversation_title.sql
  internal/store/models.go
  internal/store/queries.sql
  internal/store/queries.sql.go
  internal/tool/call_agent.go
  internal/tool/schedule.go
Due: go-vet, go-fmt

Include tool executions in conversation history
  internal/conversation/service.go
  internal/runner/runner.go
  internal/tool/executor.go
Due: go-vet, go-fmt

Replace content + tool_executions with ordered items on messages
  internal/conversation/conversation.pb.go
  internal/conversation/service.go
  internal/runner/runner.go
  internal/store/migrations/001_agents.sql
  internal/store/migrations/001_init.sql
  internal/store/migrations/002_conversations.sql
  internal/store/migrations/003_tool_executions.sql
  internal/store/migrations/004_triggers.sql
  internal/store/migrations/005_notification_channel_schema.sql
  internal/store/migrations/006_agent_notification_channels.sql
  internal/store/migrations/007_agent_model.sql
  internal/store/migrations/008_trigger_conversation_title.sql
  internal/store/models.go
  internal/store/queries.sql
  internal/store/queries.sql.go
  internal/store/schema.sql
  proto/conversation/conversation.proto
  web/src/lib/rpc/conversation/conversation_pb.ts
  web/src/routes/agents/$agentId/$conversationId.tsx
Due: go-vet, go-fmt, web-check

Decouple message streaming from Chat RPC via pub/sub
  cmd/blippy/main.go
  internal/agentloop/loop.go
  internal/conversation/conversation.connect.go
  internal/conversation/conversation.pb.go
  internal/conversation/service.go
  internal/pubsub/pubsub.go
  internal/runner/runner.go
  internal/tool/executor.go
  proto/conversation/conversation.proto
  web/src/lib/rpc/conversation/conversation-ConversationService_connectquery.ts
  web/src/lib/rpc/conversation/conversation_pb.ts
  web/src/routes/agents/$agentId/$conversationId.tsx
Due: go-vet, go-fmt, web-check

Update project docs with new packages and architecture overview
  AGENTS.md
Due: none

Consolidate turn preparation and move adapters to owning packages
  cmd/blippy/main.go
  internal/agentloop/loop.go
  internal/conversation/service.go
  internal/notification/channel_lister.go
  internal/runner/runner.go
  internal/scheduler/notification_service.go
  internal/trigger/creator.go
Due: go-vet, go-fmt

Improve mobile layout for iOS Safari toolbar and scrolling
  web/src/components/layout.tsx
  web/src/components/page-content.tsx
  web/src/components/ui/sidebar.tsx
  web/src/index.css
  web/src/routes/agents/$agentId/$conversationId.tsx
  web/src/routes/agents/$agentId/index.tsx
  web/src/routes/agents/$agentId/settings.tsx
  web/src/routes/agents/new.tsx
  web/src/routes/index.tsx
  web/src/routes/notifications/$channelId.tsx
  web/src/routes/notifications/index.tsx
  web/src/routes/notifications/new.tsx
  web/src/routes/triggers/$triggerId.tsx
  web/src/routes/triggers/index.tsx
  web/src/routes/triggers/new.tsx
Due: web-check

Add safe area inset for iPhone PWA chat input
  mise.toml
  web/index.html
  web/src/routes/agents/$agentId/$conversationId.tsx
Due: web-check

Add Blippy logo to sidebar and favicon
  web/index.html
  web/public/favicon.svg
  web/src/components/app-sidebar.tsx
  web/src/components/blippy-logo.tsx
Due: web-check

Add filesystem tools with per-root permissions
  cmd/blippy/main.go
  internal/agent/agent.pb.go
  internal/agent/service.go
  internal/agentloop/loop.go
  internal/fsroot/fsroot.connect.go
  internal/fsroot/fsroot.pb.go
  internal/fsroot/root_lister.go
  internal/fsroot/service.go
  internal/server/server.go
  internal/store/migrations/002_filesystem_roots.sql
  internal/store/models.go
  internal/store/queries.sql
  internal/store/queries.sql.go
  internal/tool/executor.go
  internal/tool/filesystem.go
  internal/tool/filesystem_test.go
  internal/tool/tool.go
  proto/agent/agent.proto
  proto/fsroot/fsroot.proto
  web/src/components/app-sidebar.tsx
  web/src/lib/rpc/agent/agent_pb.ts
  web/src/lib/rpc/fsroot/fsroot-FilesystemRootService_connectquery.ts
  web/src/lib/rpc/fsroot/fsroot_pb.ts
  web/src/routeTree.gen.ts
  web/src/routes/agents/$agentId/$conversationId.tsx
  web/src/routes/agents/$agentId/settings.tsx
  web/src/routes/agents/new.tsx
  web/src/routes/roots/$rootId.tsx
  web/src/routes/roots/index.tsx
  web/src/routes/roots/new.tsx
Due: go-vet, go-fmt, web-check

Add .worktrees/ to .gitignore
  .gitignore
Due: none

Add agent deletion with cascading cleanup
  internal/agent/service.go
  internal/store/store.go
  web/src/routes/agents/$agentId/settings.tsx
Due: go-vet, go-fmt, web-check

Add agent memory with file-like interface over SQLite
  cmd/blippy/main.go
  internal/agentloop/loop.go
  internal/store/migrations/003_agent_files.sql
  internal/store/models.go
  internal/store/queries.sql
  internal/store/queries.sql.go
  internal/tool/memory.go
  web/src/routes/agents/$agentId/settings.tsx
  web/src/routes/agents/new.tsx
Due: go-vet, go-fmt, web-check

Add per-agent host environment variable forwarding to sprite bash execution
  internal/agent/agent.pb.go
  internal/agent/service.go
  internal/agentloop/loop.go
  internal/openrouter/client.go
  internal/store/migrations/004_forwarded_host_env_vars.sql
  internal/store/models.go
  internal/store/queries.sql
  internal/store/queries.sql.go
  internal/tool/bash.go
  internal/tool/tool.go
  proto/agent/agent.proto
  web/src/components/blippy-logo.tsx
  web/src/lib/rpc/agent/agent_pb.ts
  web/src/routes/agents/$agentId/settings.tsx
  web/src/routes/agents/new.tsx
Due: go-vet, go-fmt, web-check

Add graceful HTTP server shutdown on SIGINT/SIGTERM
  .air.toml
  cmd/blippy/main.go
Due: go-vet, go-fmt

Add .mise.local.toml to .gitignore
  .gitignore
Due: none

Remove success toast on conversation creation
  web/src/routes/agents/$agentId/index.tsx
Due: web-check

Improve chat scroll behavior to pin user message at top during streaming
  web/src/routes/agents/$agentId/$conversationId.tsx
Due: web-check

Fix invalid nested <li> in breadcrumb component
  web/src/components/layout.tsx
Due: web-check

Improve mobile keyboard handling and empty conversation UX
  web/index.html
  web/src/index.css
  web/src/routes/agents/$agentId/$conversationId.tsx
Due: web-check

Fix chat message area not filling available width
  web/src/routes/agents/$agentId/$conversationId.tsx
Due: web-check

Stream tool call execution and output to chat UI in real-time
  internal/agentloop/loop.go
  internal/conversation/conversation.pb.go
  internal/conversation/service.go
  internal/tool/bash.go
  internal/tool/executor.go
  internal/tool/tool.go
  proto/conversation/conversation.proto
  web/src/components/chat/tool-execution.tsx
  web/src/lib/rpc/conversation/conversation_pb.ts
  web/src/routes/agents/$agentId/$conversationId.tsx
Due: go-vet, go-fmt, web-check
